[Unit]
Description=Service de Surveillance Systeme Linux
After=network.target

[Service]
Type=simple
# Exécution du script
ExecStart=/home/maxime/linux-sys-monitor/monitor.sh
# Dossier de travail
WorkingDirectory=/home/maxime/linux-sys-monitor
# Utilisateur qui lance le script
User=maxime
# Redémarrer automatiquement si le script plante
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
