[Unit]
Description=Service de Surveillance Systeme Linux
After=network.target

[Service]
Type=simple
ExecStart=/home/maxime/linux-sys-monitor/monitor.sh
WorkingDirectory=/home/maxime/linux-sys-monitor
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
